## Importing necessary libraries and modules

In [41]:
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn import svm

## Importing the data file

In [42]:
df=pd.read_csv("breast-cancer-wisconsin.data")

In [43]:
df.columns=['id',
            'Thickness',
            'Csize_uniformity',
            'Cshape_uniformity',
            'Marginal_Adhesn',
            'Single_Epith_Csize',
            'Bare_Nuclei',
            'Bland_Chromatin',
            'Normal_Nucleoli',
            'Mitoses',
            'Class']

In [44]:
df

,id,Thickness,Csize_uniformity,Cshape_uniformity,Marginal_Adhesn,Single_Epith_Csize,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1002945,5,4,4,5,7,10,3,2,1,2
1,1015425,3,1,1,1,2,2,3,1,1,2
2,1016277,6,8,8,1,3,4,3,7,1,2
3,1017023,4,1,1,3,2,1,3,1,1,2
4,1017122,8,10,10,8,7,10,9,7,1,4
...,...,...,...,...,...,...,...,...,...,...,...
693,776715,3,1,1,1,3,2,1,1,1,2
694,841769,2,1,1,1,2,1,1,1,1,2
695,888820,5,10,10,3,7,3,8,10,2,4
696,897471,4,8,6,4,3,4,10,6,1,4
697,897471,4,8,8,5,4,5,10,4,1,4

## Data preparation

In [45]:
df.replace('?',-99999,inplace=True)

In [46]:
# df.drop(['id'],1,inplace=True)

In [47]:
df.dropna(inplace=True)

## Defining features and labels before defining the model

In [48]:
X=np.array(df.drop(['Class'],1))
y=np.array(df['Class'])

C:\Users\HARSHP~1\AppData\Local\Temp/ipykernel_14632/1572443736.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X=np.array(df.drop(['Class'],1))

##  Dividing the data into training and testing sets

In [49]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33)

## Defining a classifier

In [36]:
cfr=neighbors.KNeighborsClassifier()
cfr=svm.SVC()

In [37]:
cfr.fit(X_train,y_train)

SVC()

## Determing the accuracy

In [38]:
accuracy=cfr.score(X_test,y_test)
accuracy

0.6233766233766234

In [40]:
predict=np.array([[1,5,1,2,2,2,1,1,2,2],[1111,5,1,2,2,2,1,1,-99999,-99999]])
predict=predict.reshape(len(predict),-1)
x=cfr.predict(predict)
x

array([2, 2], dtype=int64)